In [5]:
pip install kagglehub

Requirement already satisfied: kagglehub in c:\users\unnat\learning\100daysofml\env\lib\site-packages (0.3.12)
Requirement already satisfied: packaging in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from requests->kagglehub) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from requests->kagglehub) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from requests->kagglehub) (2025.4.26)
Requirement already satisfied: colorama in c:\users\unnat\learning\100daysofml\env\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# Download a single file
file = kagglehub.dataset_download('kaggle/recipe-ingredients-dataset', path='train.json', )

In [9]:
import shutil
import os

# path points to the downloaded file
current_dir = os.getcwd()
shutil.copy(file, os.path.join(current_dir, os.path.basename(file)))

'C:\\Users\\unnat\\Learning\\100daysofML\\repo\\day14_json_sql_files\\train.json'

In [19]:
import zipfile

with zipfile.ZipFile(file, 'r') as zipref:
    zipref.extractall('.')

In [20]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 2204-2C9F

 Directory of C:\Users\unnat\Learning\100daysofML\repo\day14_json_sql_files

06/01/2025  04:04 PM    <DIR>          .
06/01/2025  03:45 PM    <DIR>          ..
06/01/2025  03:46 PM    <DIR>          .ipynb_checkpoints
06/01/2025  04:03 PM             4,549 json_sql_datagather.ipynb
06/01/2025  04:04 PM        12,415,067 train.json
06/01/2025  04:00 PM         1,888,079 train.zip
               3 File(s)     14,307,695 bytes
               3 Dir(s)  219,099,807,744 bytes free

In [27]:
import pandas as pd
train_df = pd.read_json('train.json')

In [28]:
train_df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [29]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39774 entries, 0 to 39773
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           39774 non-null  int64
 1   cuisine      39774 non-null  object
 2   ingredients  39774 non-null  object
dtypes: int64(1), object(2)
memory usage: 932.3+ KB

In [30]:
train_df = train_df.set_index('id')

In [31]:
train_df

           cuisine                                        ingredients
id
10259        greek  [romaine lettuce, black olives, grape tomatoes...
25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
22213       indian                [water, vegetable oil, wheat, salt]
13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...            ...                                                ...
29109        irish  [light brown sugar, granulated sugar, butter, ...
11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
2238         irish  [eggs, citrus fruit, raisins, sourdough starte...
41882      chinese  [boneless chicken skinless thigh, minced garli...
2362       mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 2 columns]

In [36]:
train_df = train_df.sort_values(by='id')

## Working with SQL Now